body{
    background-color: blueviolet;
}
h1{
    text-align: center;
    color: rgb(210, 223, 223);
    margin-top: 50px;
    font-size: 25px;
}

img{
    width: 200px;
    display: block;
    margin: auto;
}